
<%= form_for( [ @wine, @logentry ] ) do |f| %>
  <%= render 'shared/validation_errors', object: @logentry %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, placeholder: 'Name' %><br />
  <%= f.label :stars %>  
  <% Logentry::STARS.each do |star| %>
    <%= f.radio_button :stars, star %> <%= star %>
  <% end %><br />
  <%= f.label :comment %><br/>
  <%= f.text_area :comment %><br/>
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', wine_logentries_path(@wine), id: 'cancel_logentry' %>
  </p>
<% end %>
