<header>Log Entries for <%= link_to(@wine.name, @wine) %></header>
<ol id="logentries">
  <% @logentries.each do |logentry| %>
    <li>
      <span class="logentry"><%= pluralize(logentry.stars, 'star') %></span>
      <span class="rating">by <%= logentry.rating %> </span>
      <span class="user">by <%= logentry.name %> </span>
      <span class="location">at <%= logentry.location %> </span>
      <span class="date">
        <%= time_ago_in_words(logentry.tasted_on) %> ago
      </span>
      <p>
        &quot;<%= logentry.comment %>&quot;
      </p>
    </li>
    <%= link_to 'Write a Rating', new_wine_logentry_path(@wine) %>
  <% end %>
</ol>